.footer {
    padding-top: 90px;
    padding-bottom: 60px;

    @media (max-width: 1024px) {
        padding-top: 40px;
        padding-bottom: 40px;
    }

    // .footer__container

    &__container {
    }

    // .footer__body

    &__body {
    }

    // .footer__top

    &__top {
        padding-bottom: 98px;
        margin-bottom: 54px;

        border-bottom: 1px solid #d9e0e2;

        display: flex;

        @media (max-width: 1024px) {
            flex-direction: column;
            gap: 40px;

            padding-bottom: 60px;
            margin-bottom: 35px;
        }

        @media (max-width: 768px) {
            padding-bottom: 20px;
            margin-bottom: 20px;
        }

        .grid {
            gap: 98px 30px;

            @media (max-width: 768px) {
                grid-template-columns: 1fr;
                gap: 40px;
            }
        }

        .tel {
            white-space: nowrap;
            @include adaptive-value("font-size", 64, 40, 1);

            display: block;

            @media (min-width: 769px) {
                text-align: right;
                margin-left: auto;
            }
        }

        ._social {
            margin-top: 19px;

            @media (min-width: 769px) {
                margin-left: auto;
                justify-content: flex-end;
            }

            a {
                width: 48px;
                height: 48px;
            }
        }
    }

    // .footer__hart

    &__hart {
        display: none;
    }

    // .footer__logo

    &__logo {
        display: block;
        flex: 0 0 auto;

        @media (min-width: 1025px) {
            width: 20%;
        }

        img,
        svg {
            width: 147px;
        }
    }

    // .footer__menu

    &__menu {
        display: flex;
        gap: 30px;
        max-width: 410px;
        justify-content: space-between;

        @media (max-width: 768px) {
            max-width: none;
            flex-direction: column;
            gap: 13px;
        }

        ul {
            a {
                color: $gray;

                @include adaptive-value("font-size", 22, 18, 1);
            }

            & > :not(:last-child) {
                @include adaptive-value("margin-bottom", 20, 13, 1);
            }
        }
    }

    // .footer__contacts

    &__contacts {
    }

    // .footer__text

    &__text {
        color: #92a8b0;
        line-height: 1.4;
        font-size: 14px;

        * {
            font-size: 14px;
        }
    }

    // .footer__privacy

    &__privacy {
        font-size: 12px;

        * {
            @media (max-width: 768px) {
                font-size: 12px;
            }
        }

        a {
            display: block;
            margin-top: 34px;
            color: $light-blue;

            @media (max-width: 1024px) {
                margin-top: 20px;
            }
        }
    }

    // .footer__bottom

    &__bottom {
        a,
        p {
            font-size: 12px;
            color: $gray;
        }

        display: flex;
        gap: 20px;
        justify-content: space-between;

        @media (max-width: 768px) {
            flex-wrap: wrap;
        }
    }
}
