.form {
    .form__item:has(input:focus) {
        border-color: $light-blue;
        background: $white;

        span {
            max-height: fit-content;
        }
    }

    // .form__item

    &__item {
        border: 1px solid rgba($color: #000000, $alpha: 0);

        width: 100%;
        margin-bottom: 10px;
        position: relative;
        gap: 3px;
        height: 90px;
        padding: 20px 30px;
        border-radius: 10px;
        background: #f6f8fa;
        display: flex;
        align-items: center;

        @media (max-width: 1024px) {
            height: 64px;
            padding: 20px;
        }

        span {
            position: absolute;
            top: 12px;
            left: 30px;
            color: #89aec1;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 1.2;
            letter-spacing: -0.28px;
            transition: all 0.3s ease 0s;

            max-height: 0;
            overflow: hidden;

            @media (max-width: 1024px) {
                font-size: 12px;
            }
        }

        input {
            color: $dark-blue;
            @include adaptive-value("font-size", 24, 16, 1);
            font-weight: 400;
            line-height: 1.2;
            letter-spacing: -0.48px;
            width: 100%;

            &::placeholder {
                color: #89aec1;
            }
        }

        &._error {
            border-color: red;

            span {
                color: red;
            }

            input {
                color: red;

                &::placeholder {
                    color: red;
                }
            }
        }
    }

    // .form__bottom

    &__bottom {
        display: flex;
        flex-direction: column;
        gap: 37px;

        @media (max-width: 1024px) {
            gap: 18px;
        }

        position: relative;

        label {
            display: flex;
            align-items: center;

            gap: 8px;
            color: #89aec1;
            font-size: 15px;
            font-weight: 400;
            line-height: 1.2;
            letter-spacing: -0.3px;
            cursor: pointer;

            @media (max-width: 1024px) {
                font-size: 13px;
            }

            input {
                display: none;
            }

            .checkbox {
                display: flex;
                align-items: center;
                justify-content: center;
                flex: 0 0 auto;
                border: 3px solid #a6c4ce;
                width: 23px;
                height: 23px;

                @media (max-width: 1024px) {
                    width: 16px;
                    height: 16px;
                }

                svg {
                    width: 14px;
                }
            }

            input:checked + .checkbox {
                background-color: $light-blue;
                border-color: $light-blue;
            }
        }

        a {
            color: $dark-blue;
        }

        ._btn {
            width: 100%;
            height: 83px;
            cursor: pointer;

            position: relative;

            &:before,
            &:after {
                z-index: 0;
            }

            input {
                cursor: pointer;
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                z-index: 1;
                opacity: 0;
            }

            span,
            svg,
            img {
                pointer-events: none;
                z-index: 1;
                position: relative;
            }

            @media (max-width: 1024px) {
                height: 70px;
                padding-left: 30px;

                span {
                    font-size: 16px;
                    text-align: left;
                }
            }
        }
    }
}

.wpcf7-response-output {
    display: none !important;
    visibility: hidden;
    opacity: 0;
    height: 0;
    overflow: hidden;
}

.wpcf7-spinner {
    margin: 0 !important;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 150%);
}
