.header {
    // .header__container

    &__container {
    }

    // .header__body

    &__body {
    }

    // .header__top

    &__top {
        padding: 16px 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 16px;

        @media (max-width: 1024px) {
            padding: 8px 0;
        }

        .phone {
            color: $dark-blue;
            text-align: right;
            font-weight: 500;
            line-height: 1.2;
            letter-spacing: -0.52px;
            white-space: nowrap;

            @media (min-width: 1025px) {
                @include adaptive-value("font-size", 26, 16, 1);
            }

            @media (max-width: 1024px) {
                font-size: 20px;
                letter-spacing: -0.4;
            }
        }

        ._btn{
            font-size: 14px;
        }
    }

    // .header__logo

    &__logo {
        @media (max-width: 1024px) {
            margin-right: auto;
        }

        a {
            display: block;
            img,
            svg {
                @include adaptive-value("width", 148, 104, 1);
            }
        }
    }

    // .header__actions

    &__actions {
        display: flex;
        gap: 6px;

        @media (max-width: 1024px) {
            display: none;
        }
    }

    // .header__burger

    &__burger {
        width: 39px;
        height: 39px;
        border-radius: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 4px;
        background-color: $dark-blue;
        position: relative;
        flex: 0 0 auto;

        @media (min-width: 1025px) {
            display: none;
        }

        span {
            background-color: $white;
            height: 2px;
            width: 100%;
            max-width: 17px;
            border-radius: 2px;
        }

        &._active {
            span {
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);

                transition: all 0.3s ease 0s;
            }

            & > :first-child {
                transform: translate(-50%, -50%) rotate(45deg);
            }

            & > :nth-child(2) {
                opacity: 0;
            }

            & > :last-child {
                transform: translate(-50%, -50%) rotate(-45deg);
            }
        }
    }

    // .header__bottom

    &__bottom {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-bottom: 15px;
        position: relative;
        gap: 15px;
        height: 48px;

        @media (max-width: 1024px) {
            display: none;
        }

        nav {
            width: 100%;

            ul {
                li {
                    a {
                        color: $gray;
                        font-size: 19px;
                        font-weight: 400;
                        transition: opacity 0.3s ease 0s;
                    }

                    @media (any-hover: hover) {
                        &:hover {
                            & > a {
                                opacity: 0.5;
                            }

                            button {
                                img,
                                svg {
                                    transform: rotate(180deg);
                                }
                            }

                            .div {
                                pointer-events: all;
                            }
                        }
                    }

                    button {
                        display: flex;
                        align-items: center;
                        justify-content: center;

                        width: 19px;
                        height: 15px;
                        flex: 0 0 auto;
                        position: relative;
                        z-index: 1;
                        margin-left: 2px;

                        img,
                        svg {
                            width: 16px;
                            height: 16px;
                            transition: transform 0.3s ease 0s;
                            pointer-events: none;
                            fill: #718590;
                        }
                    }
                }
            }

            & > ul {
                display: flex;
                align-items: center;
                justify-content: space-between;
                gap: 15px;

                & > :last-child {
                    grid-column-start: 2;
                }

                & > li {
                    display: flex;
                    position: relative;

                    a {
                        white-space: nowrap;
                        display: flex;
                        align-self: center;
                    }

                    &[data-open] {
                        & > a {
                            color: #136b8a;
                        }
                        button {
                            img,
                            svg {
                                transform: rotate(-180deg);
                                fill: #136b8a;
                            }
                        }

                        div {
                            overflow: visible;
                            opacity: 1;
                            pointer-events: all;
                            visibility: visible;
                            max-height: fit-content;
                            height: auto;
                        }
                    }

                    &:nth-child(n + 4) {
                        & > div {
                            left: unset;
                            right: 0;
                        }
                    }

                    & > div {
                        display: flex;
                        gap: 5px;

                        position: absolute;
                        top: 30px;
                        left: 0;
                        width: fit-content;
                        height: auto;

                        pointer-events: none;
                        height: 0;
                        overflow: hidden;
                        z-index: 2;

                        & > ul {
                            display: flex;
                            flex-direction: column;
                            gap: 6px;
                            padding: 20px;
                            border-radius: 10px;
                            background-color: #2d5d70;
                            width: 250px;

                            & > li {
                                position: relative;
                                padding-bottom: 6px;
                                width: 100%;
                                border-bottom: 1px solid #3f7489;

                                button {
                                    margin-left: auto;
                                }

                                a {
                                    display: flex;
                                    align-items: center;
                                    justify-content: space-between;
                                    width: 100%;
                                    gap: 10px;
                                    white-space: wrap;
                                    color: $white;

                                    svg,
                                    img {
                                        fill: currentColor;
                                        width: 12px;
                                        height: 12px;
                                        flex: 0 0 auto;
                                    }
                                }

                                & > div {
                                    height: auto;
                                    pointer-events: none;
                                    height: 0;
                                    overflow: hidden;
                                    grid-column: span 2;

                                    & > ul {
                                        display: flex;
                                        flex-direction: column;
                                        gap: 10px;
                                        padding-left: 15px;

                                        li {
                                            a {
                                                white-space: wrap;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    // .header__search

    &__search {
        background-color: #f7f8f9;
        border-radius: 30px;
        padding: 7px 10px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 10px;
        width: 48px;
        height: 48px;
        flex: 0 0 auto;

        &._open {
            position: absolute;
            left: 0;
            top: 0;
            height: 44px;
            width: 100%;
            z-index: 2;

            .header__search-input {
                display: flex;
            }

            .header__search-open {
                display: none;
            }

            .header__search-close {
                display: block;
            }
        }

        // .header__search-input

        &-input {
            display: flex;
            align-items: center;
            gap: 10px;
            color: $dark-blue;
            width: 100%;

            display: none;

            input {
                width: 100%;
                font-size: 17px;

                &::-webkit-search-cancel-button {
                    display: none;
                }
            }

            img,
            svg {
                width: 24px;
                height: 24px;
                flex: 0 0 auto;
            }
        }

        // .header__search-button

        &-button {
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
            transition: all 0.3s ease 0s;

            img,
            svg {
                flex: 0 0 auto;
                pointer-events: none;
            }

            &._open {
                background-color: #a9b6c2;
                width: 30px;
                height: 30px;

                .header__search-open {
                    display: none;
                }

                .header__search-close {
                    display: block;
                }
            }
        }

        // .header__search-open

        &-open {
            width: 26px;
            height: 26px;
        }

        // .header__search-close

        &-close {
            display: none;
            width: 18px;
            height: 18px;
        }
    }

    ._geo {
        @media (max-width: 1024px) {
            display: none;
        }
    }
}

._geo {
    display: flex;
    align-items: center;
    gap: 15px;

    li {
        display: flex;
        align-items: flex-end;

        a {
            display: flex;
            gap: 6px;

            img,
            svg {
                width: 22px;
                height: 22px;
            }

            span {
                line-height: 1.3;
                color: $gray;
                font-size: 15px;
                font-weight: 400;

                label {
                    color: $dark-blue;
                    font-size: 16px;
                    font-weight: 500;
                }
            }
        }

        .vk {
            width: 16px;
            height: 16px;
            display: block;
        }
    }
}
