.menu {
    position: fixed;
    z-index: 11;
    width: 100%;
    background-color: $white;
    top: 60px;
    height: calc(100% - 60px);
    padding: 30px 0 45px 0;
    overflow-y: auto;
    opacity: 0;
    pointer-events: none;

    &._open {
        @media (max-width: 1024px) {
            opacity: 1;
            pointer-events: all;
        }
    }

    nav {
        margin-bottom: 30px;

        ul {
            display: flex;
            flex-direction: column;
            gap: 8px;

            & > :not(:last-child) {
                border-bottom: 1px solid #eef1f3;
            }

            li {
                display: flex;
                align-items: center;
                justify-content: space-between;
                flex-wrap: wrap;
                width: 100%;

                padding: 8px 0;

                button {
                    svg {
                        fill: #367a96;
                    }
                }

                &[data-open] {
                    & > a {
                        color: #136b8a;
                    }

                    & > button {
                        img,
                        svg {
                            transform: rotate(-180deg);
                            fill: #136b8a;
                        }
                    }

                    & > ul {
                        display: block;
                    }
                }

                a {
                    color: $light-blue;
                    width: calc(100% - 20px);
                    font-size: 19px;

                    img,
                    svg {
                        width: 12px;
                        height: 12px;
                        fill: currentColor;
                    }
                }

                ul {
                    width: 100%;
                    flex: 0 0 auto;
                    padding: 10px 0 0 10px;
                    display: none;

                    li {
                        a {
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                            font-size: 17px;
                        }
                    }
                }
            }
        }
    }

    // .menu__search

    &__search {
        margin-bottom: 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-radius: 30px;
        background: #f7f8f9;
        height: 50px;
        padding: 10px 20px;

        color: $dark-blue;
        font-size: 17px;

        input {
            width: 100%;
            padding-right: 20px;

            &::-webkit-search-cancel-button {
                display: none;
            }
        }

        button {
            flex: 0 0 auto;

            svg,
            img {
                width: 23px;
                height: 23px;
                flex: 0 0 auto;
            }
        }
    }

    // .menu__actions

    &__actions {
        display: flex;
        flex-direction: column;
        gap: 10px;

        button {
            height: 64px;
            font-size: 16px;
            border-radius: 60px;
            width: 100%;
        }

        ._btn-main {
            svg {
                fill: currentColor;
                width: 12px;
                height: 15px;
                margin-left: 10px;
            }
        }
    }

    // .menu__social

    ._social {
        align-items: center;
        justify-content: center;

        margin: 20px 0;

        a {
            width: 50px;
            height: 50px;
        }
    }

    // .menu__phone

    &__phone {
        color: $dark-blue;
        text-align: center;
        font-size: 30px;
        font-weight: 500;
        line-height: 1.2;
        letter-spacing: -0.6px;
        width: 100%;
        display: block;
    }

    ._geo {
        flex-direction: column;
        align-items: flex-start;
        margin-bottom: 20px;

        span {
            font-size: 16px;

            label {
                font-size: 20px;
            }
        }
    }
}

.vk {
}
