.menu {
    position: fixed;
    z-index: 11;
    width: 100%;
    background-color: $white;
    top: 60px;
    height: calc(100% - 60px);
    padding: 30px 0 45px 0;
    overflow-y: auto;
    opacity: 0;
    pointer-events: none;

    &._open {
        @media (max-width: 1024px) {
            opacity: 1;
            pointer-events: all;
        }
    }

    nav {
        margin-bottom: 30px;

        ul {
            display: flex;
            flex-direction: column;
            gap: 8px;

            & > :not(:last-child) {
                border-bottom: 1px solid #eef1f3;
            }

            li {
                display: flex;
                align-items: center;
                justify-content: space-between;
                flex-wrap: wrap;
                width: 100%;

                padding: 8px 0;

                button {
                    svg {
                        fill: #367a96;
                    }
                }

                &[data-open] {
                    & > a {
                        color: #136b8a;
                    }

                    & > button {
                        img,
                        svg {
                            transform: rotate(-180deg);
                            fill: #136b8a;
                        }
                    }

                    & > ul {
                        display: block;
                    }
                }

                a {
                    color: $light-blue;
                    width: calc(100% - 20px);
                    font-size: 19px;

                    img,
                    svg {
                        width: 12px;
                        height: 12px;
                        fill: currentColor;
                    }
                }

                ul {
                    width: 100%;
                    flex: 0 0 auto;
                    padding: 10px 0 0 10px;
                    display: none;

                    li {
                        a {
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                            font-size: 17px;
                        }
                    }
                }
            }
        }
    }

    // .menu__search

    &__search {
        margin-bottom: 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-radius: 30px;
        background: #f7f8f9;
        height: 50px;
        padding: 10px 20px;

        color: $dark-blue;
        font-size: 17px;

        input {
            width: 100%;
            padding-right: 20px;

            &::-webkit-search-cancel-button {
                display: none;
            }
        }

        button {
            flex: 0 0 auto;

            svg,
            img {
                width: 23px;
                height: 23px;
                flex: 0 0 auto;
            }
        }
    }

    // .menu__actions

    &__actions {
        display: flex;
        flex-direction: column;
        gap: 10px;

        button {
            height: 64px;
            font-size: 16px;
            border-radius: 60px;
            width: 100%;
        }

        ._btn-main {
            svg {
                fill: currentColor;
                width: 12px;
                height: 15px;
                margin-left: 10px;
            }
        }
    }

    // .menu__social

    ._social {
        align-items: center;
        justify-content: center;

        margin: 20px 0;

        a {
            width: 50px;
            height: 50px;
        }
    }

    // .menu__phone

    &__phone {
        color: $dark-blue;
        text-align: center;
        font-size: 30px;
        font-weight: 500;
        line-height: 1.2;
        letter-spacing: -0.6px;
        width: 100%;
        display: block;
    }

    ._geo {
        flex-direction: column;
        align-items: flex-start;
        margin-bottom: 20px;

        span {
            font-size: 16px;

            label {
                font-size: 20px;
            }
        }
    }
}

.menu-service {
    position: fixed;
    z-index: 11;
    width: 100%;
    top: 145px;
    overflow-y: auto;

    background: linear-gradient(133deg, #1f4250 21.67%, #367a96 71.16%);
    color: $white;
    height: calc(100% - 150px);
    overflow: hidden;

    opacity: 0;
    pointer-events: none;

    ._container {
        height: 100%;
    }

    @media (max-width: 1024px) {
        display: none;
    }

    @media (min-width: 1025px) {
        &._open {
            opacity: 1;
            pointer-events: all;
        }
    }

    // .menu-service__close

    &__close {
        position: absolute;
        top: 30px;
        right: 0;
        z-index: 1;
        width: 63px;
        height: 63px;
        border-radius: 50%;

        display: flex;
        align-items: center;
        justify-content: center;

        background-color: #367a96;

        img,
        svg {
            width: 27px;
            height: 27px;
            pointer-events: none;
            stroke: $white;
        }

        &:after,
        &:before {
            position: absolute;
            content: "";
            left: 50%;
            top: 50%;

            width: 27px;
            height: 1px;
            background-color: $white;
            transform: translate(-50%, -50%) rotate(45deg);
            pointer-events: none;
        }

        &:after {
            transform: translate(-50%, -50%) rotate(-45deg);
        }
    }

    [data-servce-menu] {
        display: none;

        &._active {
            display: block;
        }
    }

    // .menu-service__flex

    &__flex {
        display: flex;
        height: 100%;
        position: relative;
    }

    // .menu-service__left

    &__left {
        padding: 50px 20px 50px 0;
        width: 210px;
        flex: 0 0 auto;

        div {
            & > :not(:last-child) {
                margin-bottom: 5px;
            }
        }

        button {
            display: block;
            font-size: 20px;
            font-weight: 400;
            line-height: 1.1;
            letter-spacing: -0.4px;
            padding: 15px 17px;
            border-radius: 100px;

            transition: all 0.3s ease 0s;

            @media (any-hover: hover) {
                &:hover {
                    background-color: #133145;
                }
            }
        }

        ._active {
            background-color: #133145;
        }
    }

    // .menu-service__right

    &__right {
        flex: 1 1 auto;
        padding: 50px 20px 50px 50px;

        height: 100%;
        direction: rtl;
        overflow-y: auto;
        text-align: left;
        border-left: 1px solid rgba($color: $white, $alpha: 0.11);

        &::-webkit-scrollbar {
            width: 1px;
            background: rgba($color: $white, $alpha: 0.11);
        }

        &::-webkit-scrollbar-thumb {
            background: #407184;
        }

        h3 {
            font-size: 36px;
            font-weight: 400;
            line-height: 1.1;
            letter-spacing: -0.72px;
            margin-bottom: 37px;
        }

        h4 {
            font-size: 20px;
            font-weight: 700;
            line-height: 1.1;
            letter-spacing: -0.4px;
            margin-bottom: 37px;
        }

        a {
            transition: all 0.3s ease 0s;

            @media (any-hover: hover) {
                &:hover {
                    opacity: 0.5;
                }
            }
        }

        ul {
            direction: ltr;

            &:not(:last-child) {
                padding-bottom: 40px;
                margin-bottom: 25px;
                border-bottom: 1px solid rgba($color: $white, $alpha: 0.11);
            }

            display: grid;
            grid-template-columns: repeat(6, 1fr);
            gap: 34px;

            @media (max-width: 1290px) {
                grid-template-columns: repeat(5, 1fr);
            }

            @media (max-width: 1200px) {
                grid-template-columns: repeat(4, 1fr);
            }

            a {
                font-size: 14px;
                font-weight: 400;
                line-height: 1.1;
                letter-spacing: -0.28px;
            }
        }
    }
}
