$container: 1324;
$padding: 30;
$containerWithPadding: $container + ($padding * 2);

$blue: #094879;
$light-blue: #358CC6;
$dark-blue:#062645;
$red:#E4032E;
$green:#27BA62;
$white: #ffffff; 
$black: #212325;
$gray: #7D7D7D;
$light-gray: #D8D8D8;
