.advantages-card {
    display: flex;
    flex-direction: column;
    padding: 33px 31px;
    border-radius: 20px;
    background: linear-gradient(133deg, #264e5f 21.67%, #367a96 71.16%), #f4fbfd;
    min-height: 364px;
    height: 100%;

    @media (max-width: 1024px) {
        padding: 20px 24px;
        min-height: 245px;
    }

    img,
    svg {
        width: 64px;
        height: 64px;
        margin-bottom: 17px;
    }

    h4 {
        color: $white;
        margin-bottom: 30px;
    }

    p {
        color: rgba(255, 255, 255, 0.8);
        @include adaptive-value("font-size", 24, 16, 1);
        line-height: 1.2;
        letter-spacing: -0.48px;
        font-weight: 400;
    }
}

.discount-card {
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: 100%;

    // .discount-card__image

    &__image {
        width: 100%;
        border-radius: 30px;
        overflow: hidden;
        @include adaptive-value("height", 448, 213, 1);

        @media (max-width: 1024px) {
            border-radius: 20px;
        }

        img,
        picture {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    // .discount-card__info

    &__info {
        display: flex;
        flex-direction: column;
        gap: 28px;
        flex: 1 1 auto;

        h6 {
            color: $white;
            @include adaptive-value("font-size", 36, 20, 1);
            font-weight: 500;
            line-height: 1.2;
            letter-spacing: -0.72px;

            @media (max-width: 1024px) {
                letter-spacing: -0.4px;
            }
        }

        p {
            color: rgba(255, 255, 255, 0.7);
            margin-bottom: auto;

            @media (max-width: 768px) {
                br {
                    display: none;
                }
            }
        }

        ._btn-main {
            font-size: 18px;
            font-weight: 500;
            padding: 0 30px;

            @media (min-width: 1025px) {
                min-width: 230px;
                height: 70px;
            }

            @media (max-width: 1024px) {
                height: 60px;
                font-size: 16px;
            }

            svg {
                width: 12px;
                height: 12px;
            }
        }
    }
}

.reviews-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: $white;
    border-radius: 30px;
    padding: 9px 13px;
    height: 250px;

    @media (max-width: 1024px) {
        height: 210px;
        padding: 20px;
        border-radius: 20px;
        justify-content: space-between;
    }

    // .// .reviews-card__center

    &__center {
        padding-top: 50px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 30px;
        width: 100%;
        height: 100%;

        @media (max-width: 1024px) {
            padding: 0;
            gap: 15px;
        }
    }

    // .reviews-card__logo

    &__logo {
        height: 30px;
        object-fit: contain;

        @media (max-width: 1024px) {
            height: 25px;
        }
    }

    // .reviews-card__grade

    &__grade {
        display: flex;
        align-items: center;
        gap: 10px;

        @media (max-width: 768px) {
            flex-direction: column;
            justify-content: center;
        }

        span {
            color: $dark-blue;
            @include adaptive-value("font-size", 32, 24, 1);
            font-weight: 500;
            line-height: 1.2;
            letter-spacing: -0.64px;
        }

        div {
            display: flex;

            svg,
            img {
                display: block;
                width: 120px;
                object-fit: contain;

                @media (max-width: 768px) {
                    width: 116px;
                }
            }
        }
    }

    button {
        margin-left: auto;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        flex: 0 0 auto;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #e9f3f6;

        @media (max-width: 1024px) {
            width: 40px;
            height: 40px;
        }

        svg {
            fill: $dark-blue;
            width: 8px;

            @media (max-width: 1024px) {
                width: 6px;
            }
        }
    }
}

.team-card {
    display: flex;
    flex-direction: column;
    height: 100%;

    // .team-card__image

    &__image {
        display: block;
        border-radius: 30px;
        @include adaptive-value("height", 412, 224, 1);
        overflow: hidden;
        border-radius: 30px;
        background: linear-gradient(133deg, #1f4250 21.67%, #367a96 71.16%),
            linear-gradient(0deg, #f4fbfd 0%, #f4fbfd 100%), linear-gradient(122deg, #f4fbfd 18.08%, #fffbf8 91.81%),
            #f4fbfd;
        margin-bottom: 25px;
        padding-top: 20px;

        @media (max-width: 1024px) {
            margin-bottom: 20px;
            border-radius: 20px;
        }

        img,
        picture {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: bottom;
            pointer-events: none;
        }
    }

    h4 {
        color: $dark-blue;
        width: 100%;
        @include adaptive-value("margin-bottom", 40, 20, 1);
    }

    p {
        color: $gray;
        width: 100%;
        margin-bottom: 20px;
    }

    span {
        margin-top: auto;
        color: $dark-blue;
        font-size: 20px;
        font-weight: 400;
        line-height: 1.2;
        letter-spacing: -0.4px;
        width: 100%;

        @media (max-width: 1024px) {
            font-size: 16px;
        }
    }

    ._btn {
        width: 100%;
        @include adaptive-value("height", 70, 47, 1);
        @include adaptive-value("margin-top", 40, 20, 1);

        @include adaptive-value("font-size", 18, 13, 1);
    }
}

.cosm-item {
    border-radius: 20px;
    background: linear-gradient(133deg, #264e5f 21.67%, #367a96 71.16%), #f4fbfd;
    padding: 30px;
    min-height: 100%;

    .icon {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 25px;

        width: 64px;
        height: 64px;
        background-color: $light-blue;

        border: 12px solid rgba($color: #133a49, $alpha: 0.5);
        border-radius: 50%;

        img,
        svg {
            flex: 0 0 auto;
            width: 21px;
            fill: $white;
        }
    }

    h3 {
        color: $white;
        margin-bottom: 60px;

        @include adaptive-value("font-size", 30, 20, 1);
    }

    p {
        color: $white;
        font-weight: 400;
    }
}

.service-item {
    border: 1px solid #e1e1e1;
    border-radius: 20px;
    padding: 15px;

    position: relative;
    overflow: hidden;
    display: block;
    min-height: 100%;

    display: flex;
    flex-direction: column;

    @media (any-hover: hover) {
        &:hover {
            &:before {
                opacity: 1;
            }

            * {
                color: $white;
            }

            ._btn-stroke {
                border-color: rgba($color: $white, $alpha: 0.5);
            }
        }
    }

    &:before {
        position: absolute;
        content: "";
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        border-radius: 20px;
        border: 1px solid #e1e1e1;
        background: linear-gradient(133deg, #264e5f 21.67%, #367a96 71.16%);

        opacity: 0;
        transition: all 0.3s ease 0s;
    }

    // .service-item__img

    &__img {
        @include adaptive-value("height", 300, 204, 1);

        img,
        picture {
            width: 100%;
            height: 100%;
            border-radius: 10px;
            object-fit: cover;
        }
    }

    h3 {
        @include adaptive-value("font-size", 30, 20, 1);
        text-align: center;
        @include adaptive-value("margin-bottom", 60, 20, 1);

        transition: color 0.3s ease 0s;
    }

    label {
        font-weight: 500;
        @include adaptive-value("font-size", 30, 18, 1);
        color: $light-blue;
        display: block;
        text-align: center;
        @include adaptive-value("margin-bottom", 34, 20, 1);

        transition: color 0.3s ease 0s;
    }

    ._btn {
        margin-inline: auto;
        width: 100%;
        @include adaptive-value("font-size", 18, 13, 1);

        @include adaptive-value("height", 70, 48, 1);

        &-stroke {
            margin-top: 8px;
        }
    }

    // .service-item__text

    &__text {
        padding: 20px 30px 15px 30px;
        display: flex;
        flex-direction: column;
        flex: 1 1 auto;

        h3 {
            flex: 1 1 auto;
        }
    }
}

.licens-item {
    display: flex !important;
    flex-direction: column;
    height: 100%;

    img,
    picture {
        object-fit: contain;
        flex: 1 1 auto;
        display: block;
    }

    label {
        display: block;
        color: $gray;
        font-weight: 400;
        line-height: 1.2;
        letter-spacing: -0.4px;

        @include adaptive-value("font-size", 20, 16, 1);

        @include adaptive-value("margin-top", 50, 14, 1);
        @include adaptive-value("margin-bottom", 50, 14, 1);
    }

    ._btn {
        @include adaptive-value("height", 70, 47, 1);
        @include adaptive-value("font-size", 18, 13, 1);
        width: 90%;
    }
}
