.programms-card {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: $light-blue;
    padding: 30px 20px;
    color: $white;
    min-height: 210px;

    @media (max-width: 1024px) {
        padding: 20px 15px;
        min-height: 195px;
    }
}

.directions-card {
    display: flex;
    padding: 30px 20px;
    background-color: #ecf0f4;
    color: $black;
    font-size: 24px;

    @media (max-width: 1024px) {
        padding: 20px 15px;
        font-size: 18px;
    }
}

.consultations-card {
    display: flex;
    flex-direction: column;
    padding: 34px;
    background-color: $white;

    @media (max-width: 1024px) {
        padding: 15px;
    }

    // .consultations-card__image

    &__image {
        width: 100%;
        aspect-ratio: 1/1;
        margin-bottom: 20px;

        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }

    // .consultations-card__name

    &__name {
        color: $black;
        @include adaptive-value("font-size", 32, 20, 1);
        font-weight: 700;
        text-transform: capitalize;
        margin-bottom: 10px;
    }

    // .consultations-card__descr

    &__descr {
        color: $black;
        @include adaptive-value("font-size", 20, 16, 1);
        margin-bottom: 30px;

        @media (max-width: 1024px) {
            margin-bottom: 20px;
        }
    }

    ._btn {
        width: 100%;
        height: 45px;
    }
}

.about-card {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 30px 20px;
    background-color: #ecf0f4;
    color: $blue;
    @media (max-width: 1024px) {
        padding: 20px 15px;
    }
}

.video-card {
    height: 180px;
    position: relative;

    &:after {
        position: absolute;
        content: "";
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgba($color: $black, $alpha: 0.3);
    }

    button {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        z-index: 2;
        width: 34px;
        height: 64px;
        transition: opacity 0.3s ease 0s;

        @media (any-hover: hover) {
            &:hover {
                opacity: 0.7;
            }
        }

        @media (max-width: 1024px) {
            width: 40px;
            height: 40px;
        }
    }

    video,
    iframe {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.types-card {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 30px 20px;
    background-color: $light-blue;

    * {
        color: $white;
    }

    ul:has(li),
    ol:has(li) {
        padding-left: 1.5em;
    }

    ol li {
        list-style: initial;
    }

    ul li {
        list-style: numeric;
    }

    ol {
        display: flex;
        flex-direction: column;
        gap: 5px;

        li {
            gap: 10px;

            @media (max-width: 1024px) {
                font-size: 14px;
                gap: 5;
            }
        }
    }

    @media (max-width: 1024px) {
        padding: 20px 15px;
    }
}

.gallery-card {
    height: 100%;
    width: 100%;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.doctors-card {
    display: flex;
    flex-direction: column;
    padding: 34px;
    background-color: $white;

    @media (max-width: 1024px) {
        padding: 15px;
    }

    // .consultations-card__image

    &__image {
        width: 100%;
        aspect-ratio: 1/1;
        margin-bottom: 20px;

        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }

    // .consultations-card__name

    &__name {
        color: $black;
        @include adaptive-value("font-size", 24, 18, 1);
        font-weight: 700;
        text-transform: capitalize;
        margin-bottom: 10px;
    }

    // .consultations-card__descr

    &__descr {
        color: $black;
        @include adaptive-value("font-size", 20, 16, 1);
    }
}

.internal-directions__card {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 34px;
    background: #f5f6fa;

    @media (max-width: 1024px) {
        gap: 10px;
        padding: 15px;
    }

    // .internal-directions__card-image

    &-image {
        width: 100%;
        height: 220px;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    // .internal-directions__card-name

    &-name {
        color: $black;
        @include adaptive-value("font-size", 32, 20, 1);
        font-weight: 500;
    }

    p {
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    ._secondary-button {
        color: $blue;
    }
}

.laboratory-card {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 30px 20px;
    background-color: #cfe4f1;
    min-height: 184px;

    @media (max-width: 1024px) {
        padding: 20px 15px;
        min-height: 150px;
    }

    * {
        color: $dark-blue;
    }
}
