.hero {
    background: linear-gradient(133deg, #1f4250 21.67%, #367a96 71.16%);
    position: relative;

    @media (min-width: 1025px) {
        height: 942px;
    }

    @media (max-width: 1024px) {
        padding-bottom: 30px;
    }

    // .hero__container

    &__container {
    }

    // .hero__box

    &__box {
        display: flex;
        justify-content: space-between;
        @include adaptive-value("padding-top", 60, 20, 1);

        @media (min-width: 1025px) {
            @include adaptive-value("gap", 70, 0, 1);
        }
    }

    // .hero__body

    &__body {
        width: 100%;

        ul {
            display: flex;
            align-items: center;
            gap: 6px;

            @media (min-width: 1025px) {
                @include adaptive-value("margin-bottom", 60, 20, 1);
            }

            @media (max-width: 1024px) {
                gap: 4px;
                margin-bottom: 15px;
            }

            li {
                a {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    height: 49px;
                    padding: 0 20px;
                    text-align: center;
                    border-radius: 30px;
                    background: $dark-blue;
                    white-space: nowrap;

                    color: #fcfeff;
                    font-size: 16px;

                    @media (max-width: 1024px) {
                        height: 39px;
                        font-size: 13px;
                    }
                }
            }
        }
    }

    // .hero__bgi

    &__bgi {
        position: absolute;
        left: -65px;
        bottom: 70px;
        width: 1125px;
        height: 602.24px;
        z-index: 1;

        @media (max-width: 1024px) {
            display: none;
        }

        img {
            width: 100%;
            height: 100%;
        }
    }

    // .hero__flex

    &__flex {
        display: flex;
        gap: 30px;

        @media (max-width: 1024px) {
            flex-direction: column;
            justify-content: space-between;
            gap: 16px;
            height: 100%;
        }
    }

    // .hero__left

    &__left {
        display: flex;
        flex-direction: column;

        @media (min-width: 1025px) {
            max-width: 49%;
            padding-bottom: 50px;
        }

        @media (max-width: 1024px) {
            flex: 1 1 auto;
        }

        ul {
            @media (max-width: 1024px) {
                display: none;
            }
        }

        p {
            margin-top: 24px;
            color: rgba($color: $white, $alpha: 0.6);
            @include adaptive-value("font-size", 30, 16, 1);
            font-style: normal;
            font-weight: 400;
            line-height: 1.1;
            letter-spacing: -0.6px;

            @media (min-width: 1025px) {
                flex: 1 1 auto;
            }

            @media (max-width: 1024px) {
                letter-spacing: -0.3px;
                margin: 16px 0 30px 0;
            }
        }

        ._btn {
            position: relative;
            padding: 0 40px;

            @media (max-width: 1024px) {
                width: 100%;
                height: 64px;
                font-size: 16px;
            }

            label {
                position: absolute;
                z-index: 1;
                left: 40px;
                top: -12px;
                background-color: $dark-blue;
                color: $white;
                padding: 8px;
                padding-bottom: 4px;
                border-radius: 30px;

                font-size: 14px;
                font-weight: 400;
                line-height: 1.2;
                letter-spacing: -0.28px;
                text-transform: uppercase;
                pointer-events: none;

                @media (max-width: 1024px) {
                    font-size: 11px;
                    letter-spacing: -2%;
                    padding: 4px 8px;
                }
            }

            height: 83px;
        }
    }

    // .hero__right

    &__right {
        position: relative;

        // .hero__right-image

        &-image {
            border-radius: 50%;
            overflow: hidden;
            padding: 16px;
            background: rgba(72, 117, 134, 0.5);

            @media (min-width: 1025px) {
                @include adaptive-value("width", 525, 0, 1);
                @include adaptive-value("height", 525, 0, 1);
            }

            @media (max-width: 1024px) {
                @include adaptive-value("width", 525, 334, 1);
                @include adaptive-value("height", 525, 334, 1);
                padding: 10px;
            }

            img {
                border-radius: 50%;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        // .hero__right-box

        &-box {
            display: flex;
            gap: 20px;
            border-radius: 20px;
            background-color: #f4fbfd;
            padding: 22px 25px;
            width: fit-content;
            position: relative;
            top: -50px;
            margin-left: auto;

            @media (max-width: 1024px) {
                position: absolute;
                width: fit-content;
                height: fit-content;
                z-index: 2;
                right: 0;
                padding: 12px 20px;
                gap: 30px;
                top: unset;
                bottom: 0;
            }

            .service-name {
                display: block;
                margin-bottom: 10px;
                color: $dark-blue;
                font-size: 22px;
                font-weight: 500;

                @media (max-width: 1024px) {
                    font-size: 18px;
                    margin-bottom: 8px;
                }
            }

            label {
                color: #718590;
                font-size: 14px;
                line-height: 1.2;
                display: block;
                margin-bottom: 15px;

                @media (max-width: 1024px) {
                    margin-bottom: 20px;
                }
            }

            ._btn {
                color: #367a96;

                font-size: 12px;
                font-weight: 500;
                text-transform: uppercase;
                gap: 10px;

                svg {
                    width: 8px;
                }

                @media (any-hover: hover) {
                    &:hover {
                        color: $white;
                    }
                }
            }

            ._video-btn {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 70px;
                height: 70px;
                border-radius: 50%;
                background: $accent;

                @media (max-width: 1024px) {
                    width: 61px;
                    height: 61px;
                }

                @media (any-hover: hover) {
                    &:hover {
                        background: unset;
                        background-color: #1a9cca;
                    }
                }

                img,
                svg {
                    width: 13px;
                    height: 13px;
                    object-fit: cover;

                    @media (max-width: 1024px) {
                        width: 11px;
                        height: 11px;
                    }
                }
            }
        }
    }

    .navigation {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: fit-content;

        @media (max-width: 1024px) {
            display: none;
        }

        button {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 24px;
            height: 24px;

            svg {
                fill: $white;
            }

            &.prev {
                transform: rotate(180deg);
            }
        }
    }

    ._mobile {
        @media (min-width: 1025px) {
            display: none;
        }

        width: 100vw;
        padding: 0 20px;
        margin-left: -20px;
        overflow-x: scroll;

        &::-webkit-scrollbar {
            display: none;
        }
    }
}

.thumbsSlider {
    .swiper-wrapper {
        .swiper-slide {
            width: 34px;
            height: 34px;
            border-radius: 50%;
            padding: 4px;
            cursor: pointer;

            img {
                border-radius: 50%;
                width: 100%;
                height: 100%;
                object-fit: cover;
                pointer-events: none;
            }

            &.swiper-slide-thumb-active {
                border: 1px solid #477b90;
            }
        }
    }
}

.page-hero {
    padding: 20px 0 60px 0;

    border-radius: 0px 0px 30px 30px;
    background: linear-gradient(133deg, #1f4250 21.67%, #367a96 71.16%), #306a81;
    overflow: hidden;

    @media (max-width: 768px) {
        padding: 20px 0 40px 0;
        border-radius: 0px 0px 20px 20px;
    }

    .section-bgi {
        max-height: 700px;
    }

    .breadcrumbs {
        @include adaptive-value("margin-bottom", 104, 30, 1);
    }

    h1 {
        @include adaptive-value("font-size", 70, 28, 1);
        line-height: 1.1;
        margin-bottom: 30px;

        @media (max-width: 768px) {
            margin-bottom: 20px;
        }
    }

    h1,
    .section__body > p {
        text-align: center;
        color: $white;
    }

    .section__body > p {
        @include adaptive-value("margin-bottom", 65, 20, 1);
    }

    .section__body > label {
        width: fit-content;

        display: block;
        padding: 20px;
        background-color: $dark-blue;
        text-align: center;
        color: #fcfeff;
        font-size: 16px;
        font-weight: 400;
        line-height: normal;
        border-radius: 100px;
        height: 49px;
        margin-bottom: 10px;
        margin-inline: auto;

        display: flex;
        align-items: center;
        justify-content: center;

        @media (max-width: 768px) {
            font-size: 13px;
            height: 38px;
        }
    }

    .section__body > ._btn {
        margin-inline: auto;
        @include adaptive-value("height", 84, 63, 1);

        max-width: 368px;
        width: 100%;

        @media (max-width: 768px) {
            max-width: 100%;
        }
    }

    // .page-hero__video

    &__video {
        margin-top: -120px;
        position: relative;
        z-index: 1;

        @include adaptive-value("margin-bottom", 90, 40, 1);

        @media (max-width: 768px) {
            margin-top: -105px;
        }
    }

    .grid {
        @include adaptive-value("margin-top", 90, 60, 1);

        @media (max-width:625px){
            grid-template-columns: 1fr;
            gap: 47px;
        }
    }
}

body:has(.page-hero + .page-hero__video) {
    .page-hero {
        padding: 20px 0 215px 0;
        margin-bottom: 0 !important;

        @media (max-width: 768px) {
            padding: 20px 0 145px 0;
        }
    }
}
