.hero {
    // .hero__container

    &__container {
    }

    // .hero__body

    &__body {
        @include adaptive-value("padding-bottom", 70, 30, 1);
    }

    // .hero__flex

    &__flex {
        display: flex;
        gap: 20px;

        @media (max-width: 768px) {
            flex-direction: column;
        }
    }

    // .hero__content

    &__content {
        display: flex;
        flex-direction: column;
        max-width: 430px;
        width: 100%;
        @include adaptive-value("padding-top", 70, 30, 1);

        @media (max-width: 768px) {
            margin-bottom: 30px;
        }

        h1 {
            margin-bottom: 30px;
            @media (max-width: 1024px) {
                margin-bottom: 15px;
            }
        }

        ol {
            margin-bottom: 44px;
        }

        ul:has(li),
        ol:has(li) {
            padding-left: 1.5em;
        }

        ol li {
            list-style: initial;
        }

        ul li {
            list-style: numeric;
        }
    }

    // .hero__image

    &__image {
        flex: 1 1 auto;
        height: 100%;

        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }
}

.pages-hero {
    padding-top: 0 !important;

    h1 {
        padding: 60px 0;

        @media (max-width: 1024px) {
            padding: 30px 0;
        }
    }

    .section__flex {
        gap: 0;
        position: relative;

        .bgi {
            position: absolute;
            left: 50%;
            top: 50%;
            height: 100%;
            width: 100vw;
            max-width: unset;
            transform: translate(-50%, -50%);
            pointer-events: none;
            z-index: -1;
        }
    }

    .section__flex-left {
        overflow: hidden;
        display: flex;
        padding: 80px 20px;
        gap: 20px;
        width: 100%;
        position: relative;
        color: $black;

        @media (max-width: 1024px) {
            padding: 40px 20px;
        }

        img {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
            pointer-events: none;
            z-index: -1;
        }

        span {
            color: $blue;
            @include adaptive-value("font-size", 40, 20, 1);
            font-style: italic;
        }

        label {
            font-weight: 500;
        }

        p {
            b {
                display: block;
                margin-bottom: 10px;
                @include adaptive-value("font-size", 24, 18, 1);
            }
        }
    }

    .section__flex-right {
        height: auto;
        width: 71.5%;

        @media (max-width: 1024px) {
            width: 100%;
            height: 300px;
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &.department,
    &.diagnostic,
    &.subdirection {
        .section__flex {
            @include adaptive-value("padding-left", 100, 0, 1);
            @include adaptive-value("padding-right", 100, 0, 1);
        }

        .section__flex-left {
            flex-direction: column;
            justify-content: center;
            padding: 0;

            @media (min-width: 1025px) {
                max-width: 540px;
                width: 100%;
            }

            @media (max-width: 1024px) {
                padding: 40px 0;
            }

            p {
                @include adaptive-value("font-size", 20, 16, 1);
            }
        }

        .section__flex-right {
            height: 617px;
            @media (max-width: 1024px) {
                height: 300px;
            }

            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
                pointer-events: none;
            }
        }
    }
}
