.section,
section {
    position: relative;
    padding-top: 60px;

    @media (max-width: 1024px) {
        padding-top: 40px;
    }

    &._pt-0 {
        padding-top: 0 !important;
    }

    &._mt-0 {
        margin-top: 0 !important;
    }

    .section__bgi {
        position: absolute;
        left: 0;
        top: 0;
        width: 1000%;
        height: 100%;
        pointer-events: none;
        z-index: -1;

        img {
            height: 100%;
        }
    }

    // .section__container

    &__container {
    }

    // .section__body

    &__body {
    }

    // .section__flex

    &__flex {
        display: flex;
        justify-content: space-between;
        gap: 20px;

        @media (max-width: 768px) {
            flex-direction: column;
        }

        ul:has(li),
        ol:has(li) {
            padding-left: 1.5em;
        }

        ol li {
            list-style: initial;
        }

        ul li {
            list-style: numeric;
        }

        ol {
            display: flex;
            flex-direction: column;
            gap: 5px;

            li {
                color: $black;
                font-size: 20px;

                @media (max-width: 1024px) {
                    font-size: 14px;
                    gap: 5;
                }
            }
        }

        //.section__flex-right

        &-right {
            @media (min-width: 1025px) {
                width: 70.7%;
                height: 356px;
            }

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }

    // .section__tabs

    &__tabs {
    }
}

.consultations {
    background-color: #ecf0f4;
    margin-top: 60px;

    @media (max-width: 1024px) {
        margin-top: 40px;
    }

    .section__body {
        padding: 60px 0;
        @media (max-width: 1024px) {
            padding: 30px 0;
        }
    }

    .navigation {
        margin-top: 30px;
    }
}

.about {
    .grid {
        @media (max-width: 1200px) {
            grid-template-columns: repeat(4, 1fr);
        }

        @media (max-width: 1024px) {
            grid-template-columns: repeat(3, 1fr);
        }

        @media (max-width: 768px) {
            grid-template-columns: repeat(2, 1fr);
        }

        & > :first-child {
            background-color: $light-blue;
            * {
                color: $white;
            }

            .h2,
            h2 {
                margin-bottom: 0 !important;
            }
        }

        & > :nth-child(3) {
            @media (min-width: 1025px) {
                grid-column: span 2;
            }

            @media (max-width: 768px) {
                grid-column: span 2;
            }
        }
    }
}

.video {
    .navigation {
        margin-top: 30px;
    }
}

.contacts {
    background-color: $light-blue;
    margin-top: 60px;

    @media (max-width: 1024px) {
        margin-top: 40px;
    }

    padding: 60px 0;

    @media (max-width: 1024px) {
        padding: 30px 0;
    }

    * {
        color: $white;
    }

    // .contacts__content

    &__content {
        label {
            font-weight: 500;
        }

        @media (min-width: 769px) {
            width: 315px;
        }
    }

    // .contacts__map

    &__map {
        flex: 1 1 auto;
        height: 450px;

        div,
        iframe {
            width: 100%;
            height: 100%;
        }
    }
}

.gallery {
    .swiper-slide {
        width: 66.17%;
        height: 470px;

        @media (max-width: 1024px) {
            width: 100%;
            height: 300px;
        }
    }

    .navigation {
        margin-top: 30px;
    }
}

.doctors {
    background-color: #ecf0f4;
    margin-top: 60px;

    @media (max-width: 1024px) {
        margin-top: 40px;
    }

    .section__body {
        padding: 60px 0;
        overflow: hidden;

        @media (max-width: 1024px) {
            padding: 30px 0;
        }
    }

    .section__flex {
    }
}

.blue-contacts {
    padding-bottom: 60px;
    background-color: $light-blue;
    margin-top: 60px;

    @media (max-width: 1024px) {
        padding-bottom: 30px;
        margin-top: 40px;
    }
    * {
        color: $white;
    }
}

.info {
    padding-bottom: 30px;

    .section__flex {
        padding: 30px 0;
        &:not(:last-child) {
            border-bottom: 1px solid #cfe4f1;
        }
    }

    .section__flex-left {
        flex-direction: column;
        justify-content: center;
        padding: 0 !important;
        width: 100%;

        @media (min-width: 1025px) {
            max-width: 764px;
            width: 100%;
        }

        span {
            color: $black;
            @include adaptive-value("font-size", 32, 20, 1);
            font-weight: 500;
            text-transform: uppercase;
            font-style: normal;
        }

        p {
            @include adaptive-value("font-size", 20, 16, 1);
        }

        .h2 {
            margin-bottom: 10px;
        }
    }

    .section__flex-right {
        display: flex;
        flex-direction: column;
        gap: 20px;

        div {
            display: flex;
            flex-direction: column;
            padding: 18px 20px;
            gap: 10px;
            border: 1px solid #cfe4f1;
            background-color: $white;

            img {
                height: 273px;
                @media (max-width: 1024px) {
                    height: 150px;
                }
            }

            p {
                color: $black;
                font-size: 11px;
                font-style: italic;
            }
        }
    }
}

.subdirection-box {
    .fullscreen-image {
        height: 530px;

        img {
            height: 100%;
            object-fit: cover;
        }

        @media (max-width: 1024px) {
            height: 200px;
        }
    }
}
