.section {
    position: relative;
    @include adaptive-value("margin-bottom", 90, 40, 1);

    // .section__container

    &__container {
    }

    // .section__body

    &__body {
        position: relative;
        z-index: 1;
    }

    // .section__flex

    &__flex {
        display: flex;
        justify-content: space-between;

        @media (max-width: 1024px) {
            display: block;
        }
        // .section__flex-left

        &-left {
        }

        // .section__flex-right

        &-right {
        }
    }

    // .section__top

    &__top {
        display: flex;
        position: relative;
        @include adaptive-value("margin-bottom", 60, 28, 1);

        @media (max-width: 1024px) {
            gap: 15px;
        }

        h2 {
            @media (max-width: 1024px) {
                br {
                    display: none;
                }
            }
        }

        p {
            color: $gray;
            @include adaptive-value("font-size", 24, 16, 1);
            font-weight: 400;
            line-height: 1.2;
            letter-spacing: -0.48px;

            @media (max-width: 1024px) {
                letter-spacing: -0.32px;
            }
        }

        label {
            display: flex;
            align-items: center;
            padding-top: 46px;
            color: $gray;
            font-size: 19px;
            height: fit-content;
            gap: 10px;
            width: $sec_margin;
            flex: 0 0 auto;
            padding-right: 15px;

            @media (max-width: 1024px) {
                display: none;
            }

            &:before {
                content: "";
                width: 9px;
                height: 9px;
                display: block;
                border-radius: 20px;
                background-color: $light-blue;
            }
        }

        div {
            display: flex;
            flex-direction: column;
            @include adaptive-value("gap", 40, 24, 1);
        }

        ._absolute {
            position: absolute;
            object-fit: contain;
            z-index: -1;

            @media (max-width: 1024px) {
                display: none;
            }
        }
    }

    // .section__bottom

    &__bottom {
        display: flex;
        align-items: center;
        justify-content: space-between;

        @media (min-width: 1025px) {
            padding-left: $sec_margin;
        }
    }

    // .section-bgi

    &-bgi {
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;

        img,
        picture {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}

.home-page {
    section {
        @include adaptive-value("margin-top", 120, 40, 1);
        margin-bottom: 0 !important;

        &__top {
            @include adaptive-value("margin-bottom", 90, 28, 1);
        }
    }
}

.offer {
    margin-top: -137px;
    position: relative;
    z-index: 2;

    @media (max-width: 1024px) {
        margin-top: 40px;
    }

    ._heart {
        position: absolute;
        bottom: 7px;
        left: 0;
        width: 100%;
        height: 85%;
        object-fit: cover;
        z-index: -1;

        @media (max-width: 1024px) {
            display: none;
        }
    }

    .section__body {
        position: relative;
        border-radius: 30px;
        background: $dark-blue-gradient;
        padding: 40px 70px;
        z-index: 2;

        @media (max-width: 1024px) {
            border-radius: 20px;
            padding: 40px 20px;
        }
    }

    .section__flex-left {
        @media (max-width: 1024px) {
            margin-bottom: 27px;
        }

        span {
            color: $white;
            @include adaptive-value("font-size", 40, 22, 1);

            font-weight: 500;
            line-height: 1.2;
            letter-spacing: -0.8px;

            @media (max-width: 1024px) {
                br {
                    display: none;
                }
            }

            label {
                color: $light-blue;
            }
        }
    }

    .section__flex-right {
        display: flex;
        flex-direction: column;
        gap: 45px;

        @media (max-width: 1024px) {
            gap: 27px;
        }

        @media (min-width: 1025px) {
            max-width: 460px;
        }
    }

    ._btn {
        background-color: $white;
        gap: 10px;
        height: 78px;

        @media (max-width: 1024px) {
            height: 60px;
            width: 100%;
        }

        span {
            color: #378db1;
        }

        label {
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: #378db1;
            color: $white;
            width: 40px;
            height: 40px;

            font-size: 20px;
            font-weight: 500;
            text-transform: uppercase;
        }

        svg {
            fill: #378db1;
            width: 8px;
        }
    }

    p {
        color: $white;
        @include adaptive-value("font-size", 24, 16, 1);
        font-weight: 400;
        line-height: 1.2;
        letter-spacing: -0.48px;
    }
}

.advantages {
    ._left {
        left: -15%;
        bottom: -118px;
        width: 436px;
        height: 139px;
    }

    ._right {
        top: -57px;
        left: 85%;
        width: 406px;
        height: 332px;
    }

    .swiper {
        overflow: visible;

        @media (max-width: 1024px) {
            margin-left: -20px;
            padding-left: 20px;
        }
    }

    .swiper-wrapper {
        @media (min-width: 1025px) {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 30px;
        }

        .swiper-slide {
            @media (max-width: 1024px) {
                max-width: 40%;
            }

            @media (max-width: 768px) {
                max-width: 75%;
            }
        }
    }
}

.directions {
    ._absolute {
        width: 203px;
        height: 168px;
    }

    ._left {
        left: -15%;
        top: 80%;
    }

    ._right {
        top: 0;
        left: 95%;
    }

    .tabs {
        margin-bottom: 40px;
        margin-left: 18%;
        @media (max-width: 1024px) {
            margin-bottom: 24px;
            margin-inline: auto;
        }
    }

    .tabs-content {
        a {
            display: flex;
            align-items: center;
            padding: 18px 0;
            border-bottom: 1px solid #d1dfe7;

            &:first-child {
                border-top: 1px solid #d1dfe7;
            }

            @media (max-width: 1024px) {
                padding: 12px 0;
            }

            @media (any-hover: hover) {
                &:hover {
                    h3 {
                        color: $light-blue;
                    }
                }
            }

            div {
                width: 102px;
                height: 102px;
                border-radius: 50%;
                overflow: hidden;
                margin-right: 47px;

                @media (max-width: 1024px) {
                    margin-right: 17px;
                    width: 49px;
                    height: 49px;
                }

                img,
                picture {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }

            h3 {
                transition: color 0.3s ease 0s;
                flex: 1 1 auto;
            }

            svg {
                fill: currentColor;
                width: 45px;
                height: 45px;

                @media (max-width: 1024px) {
                    width: 32px;
                    height: 32px;
                }
            }
        }
    }
}

.discounts {
    @include adaptive-value("padding-top", 120, 40, 1);
    @include adaptive-value("padding-bottom", 120, 40, 1);

    background: linear-gradient(133deg, #1f4250 21.67%, #367a96 71.16%);
    position: relative;

    .section__body {
        position: relative;
        z-index: 2;
    }

    .section__top {
        h2,
        p {
            color: $white;
        }
    }

    .discounts-bgi {
        pointer-events: none;
        position: absolute;
        left: 0px;
        top: 114px;
        width: 1314px;
        height: 908px;
        z-index: 1;

        @media (max-width: 1024px) {
            display: none;
        }

        img {
            width: 100%;
            height: 100%;
        }
    }

    .discounts-heart {
        pointer-events: none;
        position: absolute;
        top: 0;
        right: 90px;
        width: 782px;
        height: 795px;

        @media (max-width: 1024px) {
            display: none;
        }
    }

    .section__bottom {
        @include adaptive-value("margin-top", 90, 24, 1);

        @media (max-width: 768px) {
            flex-direction: column;
            gap: 10px;
        }
    }

    .navigation {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 14px;

        button {
            width: 50px;
            height: 50px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50px;
            background-color: $white;

            svg {
                fill: #136b8a;
                width: 30px;
            }

            &.prev {
                transform: rotate(90deg);
            }
            &.next {
                transform: rotate(-90deg);
            }
        }
    }

    ._btn {
        color: $white;
    }

    .swiper {
        overflow: visible;
    }

    .swiper-slide {
        max-width: 630px;

        @media (max-width: 768px) {
            max-width: 75%;
        }
    }

    .pagination {
        color: $white;
        font-size: 24px;
        line-height: 1.2;
        letter-spacing: -0.48px;
        gap: 0;
        margin: 0;

        span {
            width: fit-content;
            height: fit-content;
            background-color: unset;
        }
    }
}

.about {
    .section__body {
    }

    .section__content {
        * {
            color: $dark-blue;
        }

        label {
            @include adaptive-value("font-size", 36, 20, 1);
            line-height: 1.1;
            letter-spacing: -0.72px;
            display: block;
            margin-top: 70px;
            margin-bottom: 40px;

            @media (max-width: 1024px) {
                letter-spacing: -0.4px;
                margin: 0;
                margin-bottom: 24px;

                br {
                    display: none;
                }
            }

            a {
                color: $light-blue;
            }
        }

        ol {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 30px;
            margin-bottom: 70px;

            @media (max-width: 1024px) {
                grid-template-columns: 1fr;
                margin-bottom: 24px;
                gap: 10px;
            }

            li {
                display: flex;
                align-items: baseline;
                gap: 13px;

                @include adaptive-value("font-size", 24, 16, 1);
                font-weight: 400;
                line-height: 1.3;

                @media (max-width: 1024px) {
                    gap: 5px;
                }

                &:before {
                    flex: 0 0 auto;
                    content: "";
                    display: block;
                    width: 10px;
                    height: 10px;
                    border-radius: 50%;
                    background-color: $light-blue;

                    @media (max-width: 1024px) {
                        width: 5px;
                        height: 5px;
                    }
                }
            }
        }
    }

    // about-img

    &-img {
        position: absolute;
        left: 0;
        top: 0;
        width: 133px;
        height: 133px;

        @media (max-width: 1024px) {
            position: relative;
            margin: 24px 0;
            width: 60px;
            height: 60px;
        }

        img,
        picture {
            height: 100%;
            object-fit: cover;
            pointer-events: none;
            border-radius: 50%;
        }
    }
}

.reviews {
    @include adaptive-value("padding-top", 120, 40, 1);
    @include adaptive-value("padding-bottom", 120, 40, 1);
    overflow: hidden;
    background: linear-gradient(133deg, #1f4250 21.67%, #367a96 71.16%);
    position: relative;

    h2 {
        color: $white;
    }

    .reviews-bgi {
        pointer-events: none;
        position: absolute;
        left: 0px;
        bottom: 60px;
        width: 100%;
        height: 916px;
        z-index: 1;

        @media (max-width: 1024px) {
            display: none;
        }

        img,
        picture {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .section__body {
        position: relative;
        z-index: 2;
    }

    .tabs {
        margin-bottom: 60px;
        background-color: #31657a;

        @media (min-width: 1025px) {
            margin-left: $sec_margin;
        }

        @media (max-width: 1024px) {
            margin-bottom: 20px;
            width: 100%;
        }

        button {
            &._active {
                color: $dark-blue;
            }
        }
    }

    .grid {
        @media (max-width: 1024px) {
            gap: 8px;
        }

        & > :first-child {
            @media (min-width: 1025px) {
                grid-column-start: 2;
            }
        }
    }
}

.team {
    // .team__box

    &__box {
        @include adaptive-value("margin-top", 90, 30, 1);

        & > :not(:last-child) {
            @include adaptive-value("margin-bottom", 60, 30, 1);
        }

        // .team__box-title

        &-title {
            display: block;
            @include adaptive-value("font-size", 50, 20, 1);
            font-weight: 500;
            line-height: 1.2;
            letter-spacing: -1px;

            @media (max-width: 1024px) {
                letter-spacing: -0.4;
            }
        }

        .swiper {
            overflow: visible;
        }
    }
}

.consultation {
    position: relative;
    overflow: hidden;
    background: linear-gradient(133deg, #1f4250 21.67%, #367a96 71.16%);
    @include adaptive-value("padding-top", 150, 40, 1);
    @include adaptive-value("padding-bottom", 150, 40, 1);

    // .consultation-bgi

    &-bgi {
        pointer-events: none;
        position: absolute;
        left: 0px;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 1;

        @media (max-width: 1024px) {
            display: none;
        }

        img,
        picture {
            object-fit: cover;
            width: 100%;
            height: 100%;
        }
    }

    // .consultation__social

    &__social {
        display: flex;
        align-items: center;
        gap: 8px;
        margin-top: 37px;

        @media (max-width: 1024px) {
            margin-top: 18px;
            gap: 5px;
            justify-content: space-between;
            width: 100%;
        }

        span {
            margin-right: 20px;
            display: block;
            color: $gray;
            @include adaptive-value("font-size", 24, 16, 1);
            font-weight: 500;
            line-height: 1.2;
            letter-spacing: -0.48px;
            margin-right: auto;
        }

        a {
            width: 73px;
            height: 73px;

            @media (max-width: 1024px) {
                width: 50px;
                height: 50px;
            }
        }
    }

    .section__body {
        position: relative;
        z-index: 2;
        background-color: $white;
        max-width: 847px;
        width: 100%;
        margin-inline: auto;
        border-radius: 30px;
        padding: 100px 56px 50px 56px;

        @media (max-width: 1024px) {
            padding: 20px;
            border-radius: 20px;
        }

        h2 {
            @include adaptive-value("margin-bottom", 37, 28, 1);
        }

        p {
            color: $gray;
            @include adaptive-value("font-size", 24, 16, 1);
            font-weight: 400;
            line-height: 1.2;
            letter-spacing: -0.48px;
            @include adaptive-value("margin-bottom", 37, 28, 1);

            b {
                color: $dark-blue;
            }

            @media (max-width: 1024px) {
                br {
                    display: none;
                }
            }
        }
    }
}

.address {
    .section__content {
        .address-item {
            &:not(:last-child) {
                @include adaptive-value("margin-bottom", 60, 40, 1);
            }

            a {
                display: flex;
                gap: 20px;

                @include adaptive-value("font-size", 36, 20, 1);
                color: $dark-blue;
                @include adaptive-value("margin-bottom", 38, 20, 1);

                div {
                    flex: 0 0 auto;

                    width: 41px;
                    height: 41px;
                    border-radius: 50%;

                    display: flex;
                    align-items: center;
                    justify-content: center;

                    background-color: #e7f7fd;

                    @media (max-width: 1024px) {
                        width: 24px;
                        height: 24px;
                    }

                    svg,
                    img {
                        flex: 0 0 auto;
                        width: 21px;
                        height: 21px;
                        fill: $light-blue;

                        @media (max-width: 1024px) {
                            width: 12px;
                            height: 12px;
                        }
                    }
                }
            }

            ol {
                padding-left: 61px + 30px;
                display: block;

                & > :not(:last-child) {
                    margin-bottom: 20px;
                }

                @media (max-width: 1024px) {
                    padding-left: 15px;
                }

                li {
                    display: list-item;
                    list-style: initial;
                    @include adaptive-value("font-size", 24, 16, 1);
                    line-height: 1.2;
                    color: $gray;

                    &:before {
                        display: none;
                    }
                }
            }
        }
    }
}

.contacts {
    background: linear-gradient(133deg, #1f4250 21.67%, #367a96 71.16%);

    @include adaptive-value("padding-top", 120, 40, 1);
    @include adaptive-value("padding-bottom", 120, 40, 1);

    h2 {
        color: $white;
    }

    // .contacts-bgi

    &-bgi {
        pointer-events: none;
        position: absolute;
        left: 0px;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 1;

        @media (max-width: 1024px) {
            display: none;
        }

        img,
        picture {
            object-fit: cover;
            width: 100%;
            height: 100%;
        }
    }

    // .contacts-address

    &-address {
        display: flex;
        gap: 8px;
        margin-bottom: 35px;

        div {
            flex: 0 0 auto;
            width: 31px;
            height: 31px;
            border-radius: 50%;
            background-color: $light-blue;

            display: flex;
            align-items: center;
            justify-content: center;

            img,
            svg {
                width: 15px;
                height: 15px;
                fill: $white;
            }
        }

        span {
            color: $white;
            font-size: 24px;
            display: block;
            font-weight: 500;
        }

        label {
            display: block;
            color: $gray;
            font-size: 21px;
        }
    }

    // .contacts__flex

    &__flex {
        display: flex;
        gap: 20px;
        justify-content: space-between;

        position: relative;

        @media (max-width: 768px) {
            flex-direction: column;
            gap: 40px;
        }

        @media (min-width: 769px) {
            &:after {
                display: block;
                content: "";
                left: 0;
                top: 0;
                width: 1px;
                height: 109px;
                background-color: #d1dfe7;
                flex: 0 0 auto;

                position: absolute;
                top: 0;
                left: 50%;
                transform: translate(-50%, 0);
            }
        }

        & > :first-child {
            max-width: 345px;
            width: 100%;

            @media (max-width: 768px) {
                max-width: none;
                padding-bottom: 40px;
                border-bottom: 1px solid rgba($color: $white, $alpha: 0.12);
            }
        }

        & > :last-child {
            max-width: 365px;
            width: 100%;

            @media (max-width: 768px) {
                max-width: none;
            }
        }

        ._social {
            a {
                width: 68px;
                height: 68px;
            }
        }

        .tel {
            color: $white;
            font-size: 40px;
            font-weight: 500;
            line-height: 1.2;
            letter-spacing: -0.8px;

            display: block;

            @include adaptive-value("margin-bottom", 36, 23, 1);
        }

        ._btn {
            @include adaptive-value("height", 83, 64, 1);
            width: 100%;
        }
    }

    .map {
        @include adaptive-value("margin-top", 60, 40, 1);

        @include adaptive-value("height", 786, 335, 1);

        iframe {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 20px;
        }
    }
}

.about-text {
    // .about-text__flex

    &__flex {
        display: flex;
        gap: 30px;
        position: relative;

        @media (max-width: 768px) {
            flex-direction: column;
            gap: 20px;
        }

        .logo {
            margin-top: -9%;
            max-width: 300px;
            flex: 0 0 auto;
            height: fit-content;

            padding: 90px 45px;
            border: 1px solid #e8e7e7;
            border-radius: 20px;

            display: flex;
            align-items: center;
            justify-content: center;

            @media (max-width: 1024px) {
                max-width: 240px;
            }

            @media (max-width: 768px) {
                margin-top: 0;
                max-width: none;
                padding: 50px;
            }

            img,
            svg {
                width: 238px;
                flex: 0 0 auto;

                @media (max-width: 1024px) {
                    width: 154px;
                }
            }
        }
    }

    .text-box {
        padding-bottom: 0;
    }

    iframe {
        @include adaptive-value("margin-top", 60, 20, 1);
    }

    .grid,
    .swiper {
        @include adaptive-value("margin-top", 100, 35, 1);
    }

    .swiper-wrapper {
        @media (min-width: 1025px) {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 30px;
        }
    }

    .pagination {
        @media (min-width: 1025px) {
            display: none;
        }
    }
}

.text-after {
    @include adaptive-value("margin-top", 60, 40, 1);
    font-weight: 400;
}

.coms-services {
    // .coms-services__nav

    &__nav {
        margin-top: 28px;

        @media (min-width: 1025px) {
            display: none;
        }

        display: flex;
        align-items: center;
        gap: 20px;
        justify-content: space-between;

        .pagination {
            margin-top: 0;
        }
    }
}

.price {
    // .price-table

    padding: 90px 0;
    background: linear-gradient(133deg, #1f4250 21.67%, #367a96 71.16%);

    &-table {
        border-radius: 30px;
        background-color: $white;
        padding: 60px 85px;

        @media (max-width: 1024px) {
            border-radius: 20px;
            padding: 40px 20px;
        }

        @media (max-width: 798px) {
            margin-top: -14px;
        }

        ol {
            li {
                display: grid;
                grid-template-columns: 1fr 15% 17%;
                gap: 10px;
                align-items: center;
                padding: 16px 0;
                border-bottom: 1px solid #eef1f3;

                @media (max-width: 1024px) {
                    grid-template-columns: 1fr 12% 20%;
                }

                @media (max-width: 768px) {
                    grid-template-columns: 1fr 20%;
                    gap: 15px;
                    padding: 14px 0;

                    &:has(label) {
                        @media (max-width: 768px) {
                            display: none;
                        }
                    }

                    &:nth-child(2) {
                        border-top: 1px solid #eef1f3;
                    }
                }

                label {
                    @include adaptive-value("font-size", 20, 14, 1);
                    color: $gray;
                }

                p {
                    font-weight: 400;

                    @media (max-width: 768px) {
                        &:has(span) {
                            text-align: right;
                        }
                    }

                    span {
                        color: $light-blue;
                        white-space: nowrap;
                        font-weight: 500;
                    }
                }

                ._btn {
                    max-width: 235px;
                    margin-left: auto;

                    @include adaptive-value("font-size", 18, 13, 1);
                    @include adaptive-value("height", 70, 40, 1);

                    @media (max-width: 768px) {
                        margin-left: 0;
                    }
                }
            }
        }

        .show-more {
            margin-inline: auto;
            @include adaptive-value("margin-top", 70, 28, 1);
            @include adaptive-value("height", 83, 47, 1);

            width: 272px;
            @include adaptive-value("font-size", 20, 13, 1);
        }
    }

    ._btn {
    }
}

.section {
    // .section__container

    &__container {
    }

    // .section__body

    &__body {
    }

    // .section__top

    &__top {
    }
}
.faq {
    background-color: #f6fcff;
    @include adaptive-value("padding-top", 90, 40, 1);
    @include adaptive-value("padding-bottom", 90, 40, 1);

    .accordion {
        & > :not(:last-child) {
            margin-bottom: 8px;
        }
        // .accordion__item

        &__item {
            padding: 22px 30px;
            border-radius: 10px;
            position: relative;
            background-color: $white;
            overflow: hidden;

            &:before {
                position: absolute;
                content: "";
                left: 0;
                top: 0;
                background: linear-gradient(91deg, #264e5f 41.58%, #367a96 65.66%),
                    linear-gradient(0deg, #367a96 0%, #367a96 100%);

                width: 100%;
                height: 100%;
                pointer-events: none;
                transition: all 0.3s ease 0s;
            }

            &[data-open] {
                &:before {
                    opacity: 0;
                }

                .icon {
                    transform: rotate(45deg);

                    &:before,
                    &:after {
                        background-color: #367a96;
                    }
                }

                .accordion__item-title {
                    color: #31657a;
                }
            }

            // .accordion__item-title

            &-title {
                display: flex;
                justify-content: space-between;
                align-items: center;
                gap: 20px;

                @include adaptive-value("font-size", 32, 16, 1);
                font-weight: 500;
                line-height: 1.2;

                color: $white;
                z-index: 1;
                position: relative;

                .icon {
                    flex: 0 0 auto;
                    width: 30px;
                    height: 30px;
                    position: relative;

                    transition: all 0.3s ease 0s;

                    &:before,
                    &:after {
                        position: absolute;
                        content: "";
                        left: 50%;
                        top: 50%;
                        width: 2px;
                        height: 100%;
                        background-color: $white;

                        transition: all 0.3s ease 0s;
                    }

                    &:before {
                        transform: translate(-50%, -50%);
                    }

                    &:after {
                        transform: translate(-50%, -50%) rotate(90deg);
                    }
                }
            }

            // .accordion__item-content

            &-content {
                z-index: 1;
                position: relative;

                // .accordion__item-content-height
                &-height {
                    div {
                        @include adaptive-value("padding-top", 30, 10, 1);
                    }
                }

                p {
                    font-weight: 40;
                }
            }
        }
    }
}

.works {
    .swiper {
        overflow: visible;

        &-slide {
            @include adaptive-value("width", 520, 278, 1);
            @include adaptive-value("height", 405, 210, 1);
        }
    }

    .pagination {
        display: flex;
    }

    .section__top {
        flex-direction: column;

        p {
            @include adaptive-value("margin-top", 70, 30, 1);
            @include adaptive-value("font-size", 40, 16, 1);
            color: $gray;

            @media (max-width: 768px) {
                font-weight: 400;
            }
        }
    }

    .text-box {
        @include adaptive-value("margin-top", 70, 35, 1);
    }
}

.licens {
    .swiper {
        &-slide {
            img,
            picture {
                object-fit: contain;
            }

            label {
                display: block;
                color: $gray;
                font-weight: 400;
                line-height: 1.2;
                letter-spacing: -0.4px;

                @include adaptive-value("font-size", 20, 16, 1);

                @include adaptive-value("margin-top", 50, 14, 1);
                @include adaptive-value("margin-bottom", 50, 14, 1);
            }

            ._btn {
                @include adaptive-value("height", 70, 47, 1);
                @include adaptive-value("font-size", 18, 13, 1);
                width: 90%;
            }
        }
    }
}
