@font-face {
	font-family: Cygre;
	font-display: swap;
	src: url("../fonts/Cygre-Bold.woff2") format("woff2"), url("../fonts/Cygre-Bold.woff") format("woff");
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: Cygre;
	font-display: swap;
	src: url("../fonts/Cygre-Regular.woff2") format("woff2"), url("../fonts/Cygre-Regular.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: Cygre;
	font-display: swap;
	src: url("../fonts/Cygre-Medium.woff2") format("woff2"), url("../fonts/Cygre-Medium.woff") format("woff");
	font-weight: 500;
	font-style: normal;
}
