// null default styles
@import "null";

// load fonts
@import "fonts";

//load variables
@import "common/variables";

// load mixins
@import "mixins";

// load swiper
@import "../../node_modules/swiper/swiper";

// load fancybox
@import "../../node_modules/@fancyapps/ui/dist/fancybox/fancybox";

// load common
@import "common/common";

// load header
@import "common/header";

// load footer
@import "common/footer";

// load side popup
@import "common/popup";

// load footer
@import "common/menu";

// load accordeon
@import "common/accordeon";

// load error 404
@import "common/404";

// load to top
@import "common/to-top";

// load ticker
@import "common/ticker";

// load animations
@import "common/animations";

// load form
@import "common/form";

// load grid
@import "parts/grid";

// load section
@import "parts/table";

// load section
@import "parts/section";

// load hero
@import "parts/hero";

// load section
@import "parts/cards";

// load section
@import "parts/maps";

.pages-menu {
    position: fixed;
    top: 0;
    left: 0;
    background-color: $white;
    z-index: 10;
    display: block;
    max-width: 400px;
    border: 1px solid;

    .open {
        display: none;
    }

    &._active {
        .open {
            display: block;
        }
        .close {
            display: none;
        }
        ul {
            display: none;
        }
    }

    button {
        font-size: 12px;
        padding: 5px;
        color: red;
        background-color: $dark-blue;
        width: 100%;
        display: block;
    }

    ul {
        padding: 20px;
        display: flex;
        flex-direction: column;

        a {
            padding: 5px;
            border-bottom: 1px solid $dark-blue;
        }
    }
}
